<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
</head>
<body>
    <h1>Item List</h1>

    <table>

        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.expdate }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="/item/add">Add new item</a>
</body>
</html>